/* Общие стили для таблицы */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Размер чекбоксов */
.checkbox {
  width: 18px;
  height: 18px;
}

.media-on-page {
  width: 500px;
  height: 500px;
}

@media (max-width: 800px) {
  .table-container {
    overflow-x: auto;
  }

  table {
    min-width: 800px;
  }
}

@media (max-width: 950px) {
  .media-on-page  {
    width: 100%;
  }
}
