/* Основные стили для body */
body {
  border: 2px solid black;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Стили для заголовков */
h1,
h2 {
  color: black;
}

h1 {
  font-size: 2.5em;
  margin: 10px 50px;
}

h2 {
  font-size: 2em;
  margin: 5px 0;
}

.container1 {
  flex: 1;
  display: flex;
  margin-top: 150px;
  min-height: calc(100vh - 200px);
}

/* Стили для логотипа */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
}

/* Стили для пользовательской информации */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-endж;
}

.user-image {
  width: 300px;
  height: 300px;
  padding: 5px;
  margin: 50px;
  border: 2px solid black;
  max-width: 100%;
}

.user-info p {
  margin: 5px 0;
}

/* Стили для текста логотипа */
.logo-text {
  margin-top: 5px;
  text-align: center;
  font-size: 1.1em;
}

/* Стили для навигации по странице */
.page-navigation {
  width: 20%;
  border-right: 2px solid black;
  padding: 10px;
  background-color: #f9f9f9;
  position: relative;
  flex-shrink: 0;
}

.page-navigation ul {
  padding: 0;
  list-style: none;
}

.page-navigation-link {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

/* Кнопка для отображения навигации на мобильных устройствах */
.toggle-navigation-btn {
  display: none;
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 80px;
  left: 20px;
  z-index: 11;
}

/* Основной контент страницы */
.page-info {
  padding: 20px;
  width: 100%;
}

/* Основные стили для заголовков */
.main-heading {
  font-size: 2.5em;
  color: black;
  text-align: center;
}

.sub-heading {
  font-size: 2em;
  color: #333;
}

/* Стили для параграфов */
.text-paragraph {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 15px;
}

/* Стили для футера */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-top: 2px solid black;
  padding: 1rem;
}

/* Стили для иконок в футере */
.footer-navigation-link {
  margin: 0 10px;
}

.footer-navigation-link img {
  width: 24px;
  height: 24px;
}

/* Стили для форм */
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  margin: 10px 0;
  background-color: #f9f9f9;
}

input,
button {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Общие стили для шапки */
.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
  font-size: 1em;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: 0.3s;
}

/* Стили для навигации в шапке */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #f4f4f4;
}

.header-navigation-link {
  margin: 0 20px;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
}

.header-navigation-link.active {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid black;
}

/* Псевдоклассы для ссылок */
.header-navigation-link:hover,
.page-navigation-link:hover {
  color: #0073e6;
  text-decoration: underline;
}

.header-navigation-link:active,
.page-navigation-link:active {
  color: #005bb5;
}

.responsive-media {
  width: 640px;
  height: auto;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  z-index: 10;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 950px) {
  .container {
    margin-top: 100px;
  }

  .header-navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    z-index: 10;
  }

  .header-navigation.active {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }

  .header-navigation-link {
    margin: 10px 0;
    text-align: center;
  }

  .page-navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #f9f9f9;
    z-index: 10;
    transition: left 0.3s ease;
  }

  .page-navigation.active {
    left: 0;
  }

  .toggle-navigation-btn {
    display: block;
  }

  .toggle-navigation-btn.active {
    display: block;
    left: 270px;
  }

  .responsive-media {
    width: 100%;
    height: auto;
  }
}
