/* Основные стили для body */
body {
  border: 2px solid black;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: black;
  margin: 0;
  padding: 0;
}

/* Стили для заголовков */
h1,
h2 {
  color: black;
}

h1 {
  font-size: 2.5em;
  margin: 10px 0;
}

h2 {
  font-size: 2em;
  margin: 5px 0;
}

/* Общий контейнер для flex элементов */
.container {
  display: flex;
}

/* Стили для логотипа */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
}

/* Стили для пользовательской информации */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-endж;
}

.user-image {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 0 auto;
  border: 2px solid black;
  max-width: 100%;
}

.user-info p {
  margin: 5px 0;
}

/* Стили для текста логотипа */
.logo-text {
  margin-top: 5px;
  text-align: center;
  font-size: 1.1em;
}

/* Стили для шапки */
.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
  font-size: 1em;
}

/* Стили для навигации в шапке */
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #f4f4f4;
}

/* Стили для ссылок в шапке */
.header-navigation-link {
  margin: 0 20px;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
}

.header-navigation-link.active {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid black;
}

.header-navigation-link:hover {
  color: #555;
  text-decoration: underline;
}

.header-navigation-link:active {
  color: #333;
}

/* Стили для навигации по странице */
.page-navigation {
  width: 20%;
  border-right: 2px solid black;
  padding: 10px;
  background-color: #f9f9f9;
}

.page-navigation ul {
  padding: 0;
  list-style: none;
}

.page-navigation-link {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.page-navigation-link:hover {
  color: #555;
  text-decoration: underline;
}

/* Основной контент страницы */
.page-info {
  padding: 20px;
  width: 70%;
}

/* Основные стили для заголовков */
.main-heading {
  font-size: 2.5em;
  color: black;
  text-align: center;
}

.sub-heading {
  font-size: 2em;
  color: #333;
}

/* Стили для параграфов */
.text-paragraph {
  font-size: 1.2em;
  color: #444;
  margin-bottom: 15px;
}

/* Основной контейнер для сетки */
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  position: relative;
}

/* Стили для элементов сетки */
.grid-item {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Абсолютное позиционирование изображения */
.user-image {
  position: absolute;
  left: 80%;
  width: 55px;
  height: 55px;
}

/* Стили для футера */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-top: 2px solid black;
}

/* Стили для иконок в футере */
.footer-navigation-link {
  margin: 0 10px;
}

.footer-navigation-link img {
  width: 24px;
  height: 24px;
}

/* Стили для форм */
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  margin: 10px 0;
  background-color: #f9f9f9;
}

input,
button {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Стили для таблиц */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

/* Псевдоклассы для ссылок */
.header-navigation-link:hover,
.page-navigation-link:hover {
  color: #0073e6;
  text-decoration: underline;
}

.header-navigation-link:active,
.page-navigation-link:active {
  color: #005bb5;
}
